<div class="articles-container">
  <mat-card *ngFor="let article of articles" class="article-card" (click)="openArticleDetails(article)">
    <!-- Titre de l'article -->
    <mat-card-header>
      <mat-card-title>{{ article.titre}}</mat-card-title>
    </mat-card-header>

    <!--la date et l'auteur -->
    <div class="article-meta">
      <span class="article-date">{{ article.created_at | date: 'short' }}</span>
      <span class="article-author">{{ article.owner_id.name }}</span>
    </div>

    <!-- Description de l'article -->
    <mat-card-content>
      <p>{{ article.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
